@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

.headline {
    background-image: url(img/cover.webp);
    background-position: fixed;
    background-size: cover;
    text-align: center;
}

.hero {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5em;
    padding: 300px 0 40px 0; 
    color: white;
}

.subhero {
    letter-spacing: 0.2em;
    padding-bottom: 350px;
    color: whitesmoke;
}

.carte{
    height: 600px;
    background-position: center bottom;
}

#carta {
    text-align: center;
}

.img {
    width: 95%;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 200;
}

@media (max-width: 720px) {
    .carte{
        height: 500px !important;
        background-position: center bottom;
    }

    #carta {
        text-align: center;
        font-size: 42px;
    }

  }
